fastapi
uvicorn
streamlit
python-multipart
requests
python-dotenv
pymongo
langchain
langchain-community
langchain-google-genai
chromadb
sentence-transformers
faiss-cpu
edge-tts
aiohttp
paddleocr
paddlepaddle
torch
PyMuPDF
Werkzeug
pydantic
pydantic-core
scikit-learn
beautifulsoup4
pillow
numpy
pysqlite3-binary
